

//Screen-Size
$breakpoint-tb: 0px;
$breakpoint-mobil: 0px;
$breakpoint-desktop: 0px;

//Colors

//Primary
$darkCyan: hsl(185,75%,39%);
$darkBlue : hsl(229,23%,23%);
$darkishBlue:hsl(227,10%,46%);

//Neutral
$darkGrey:hsl(0,0%,59%);


@media (min-width: $breakpoint-tb) {
 
}
